#container {
    width: 400px;
}
#left {
    float: left; 
    background-color: red;
    width: 45%;
    height: 120px;
    border-radius:30px 40px ;
    padding: 5px;
}
#right {
    float: right;
    background-color: yellow;
    width: 45%;
    height: 120px;
    border-radius: 10px 20px 30px 40px;
    padding: 5px;
}