* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    padding: 2rem;
    background-color: #333;
    color: #fff;
}

/* เมื่อมี container คลุมไว้ต้องเพิ่ม div ขึ้นมาคลุม main เอาไว้เเล้วกำนหด display: flex; */
.container {
    max-width: 960px; /* จำเป็นต้องใส่ max-width เพื่อใช้ในการ responsive */
    margin: 0;
    border: 1px solid #333;
}


main {
    height: 100vh;
    padding: 2rem;
    background-color: orange;
}
.main-content {
    display: flex;
    height: 500px;
    justify-content: space-between;
}

aside {
    width: 30%;
    height: 100%;
    background-color: yellow;
}
article {
    width: 70%;
    height: 100%;
    background-color: green;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: blue;
    color: #fff;
}


/* ========================= @media ============================= */


@media screen and (max-width: 560px) {
    .main-content {
        flex-direction: column;
    }
    aside {
        width: 100%;
        background-color: orchid;
    }
    article {
        width: 100%;
        background-color: red;
    }
}

@media screen and (min-width: 860px) {
    
    aside {
        width: 100%;
        color: #fff;
    }
    article {
        width: 100%;
        color: #fff;
    }
}