body {
    background-color: cornflowerblue;
}
#test h1 {
    width: 600px;
    height: 40px;
    background-color: darkgreen;
    text-align: center;
    margin: auto; 
    border: 5px solid;
}
div[title="background"] {
    margin: 0 auto;
    text-align: center;
}